<!DOCTYPE html>
<html>

<head>
    <title>NodeJS: {{title}}</title>
</head>

<body>
    <font size="7em">
        식당 예약 웹<br>
    </font>

    {% if user %}
    {{profile.profileName or user.name}}님 환영합니다!<br>

    <form>
        <p>
            제휴 식당 정보<br>
            <button type="button" onclick="location.href='http://localhost:{{port}}/store/'">바로 가기</button><br>
        </p>

        <p>
            대기 번호 뽑기<br>
            <button type="button" onclick="location.href= 'http://localhost:{{port}}/waiting/'">바로 가기</button>
        </p>

        <p>
            사용자 웨이팅 현황<br>
            <button type="button" onclick="location.href= 'http://localhost:{{port}}/waiting/view/{{user.userId}}'">바로 가기</button>
        </p>

        <p>
            리뷰 게시판<br>
            <button type="button" onclick="location.href= 'http://localhost:{{port}}/review/show'">바로 가기</button>
        </p>

        <!-- <p>
            사용자 페이지<br>
            <button type="button" onclick="location.href='http://localhost:{{port}}/user/'">사용자 페이지</button><br>
        </p> -->
    </form>
    {% else %}

    <form id="form" action="/user/login" method="post">
        일반 로그인 <br>
        <input style="width: 150px" type="text" name="username" placeholder="ID" required /><br>
        <input style="width: 150px" type="text" name="password" placeholder="Password" required /><br>
        <button style="width: 157px" type="submit">로그인</button><br><br>
    </form>

    <form id="form" action="" method="get">
        <button style="width: 157px" type="button" onclick="location.href='http://localhost:{{port}}/user/kakao'">카카오톡으로
            로그인</button><br>
    </form>

    <br>
    <form id="form" action="" method="get">
        <button style="width: 157px" type="button"
            onclick="location.href='http://localhost:{{port}}/user/sign-up'">회원가입</button><br>
    </form>
    {% endif %}
    <form id="form" action="" method="get">
        <button style="width: 157px" type="button" onclick="location.href='http://localhost:{{port}}/user/logout'">
            로그아웃</button><br>
    </form>

</body>

</html>